.entries-data {
    display: flex;
    justify-content: flex-start;
}

.entries {
    flex-grow: 1;
    flex-basis: 620px;
    min-height: 620px;
}

.stern-first-table {
    flex-grow: 1;
    width: 55%;
}

.stern-second-table {
    flex-grow: 1;
    width: 40%;
}

.stern-separator {
    flex-grow: 1;
    width: 5%;
}

.output-data {
    line-height: 2.5;
    flex-grow: 1;
}

.output-cows {
    line-height: 2.5;
    flex-grow: 1;
}

.tbinp {
    width: 25px;
}

.width-bl {
    width: 11%
}

.info-field {
    position: relative;
}

.info {
    border-radius: 10px;
    width: 470px;
    height: 400px;
    position: absolute;
    top: 41px;
    left: 10px;
    z-index: 9090;
}